{
    "name": "{{project_name}}",
    "version": "{{odoo_version}}",
    "category": "Berpia",
    "description": "((module_description))",
    "author": "{{author_name}}",
    "website": "https://www.wavext.io",
    "license": "{{license}}",
    "depends": ["{{module_dependencies}}"],
    "data": [
        "security/security.xml",      
        "security/ir.model.access.csv",
    ],
    "application": True,
}
