{
    "name": "{{project_name}}",
    "version": "{{ odoo_version }}.1.0.0",
    "category": "Berpia",
    "summary": "{{module_summary}}",
    "author": "{{author_name}}",
    "website": "https://www.wavext.io",
    "license": "{{license}}",
    "depends":{{ module_dependencies.split(',') | map('trim') | select | list | tojson }},
    "data": [      
        "security/ir.model.access.csv",
    ],
    "application": True,
}
